li{list-style: none;}
ul{
	margin:0;
	padding: 0;
}
#body{
	width: 100%;
	max-width: 500px;
	margin:0 auto;
}
.page{
	background:#B4FAD8;
	height: 100%;
	overflow:hidden;
}
#home .head_bg{
	width: 100%;
	height: 15rem;
	background:  url(../../../assets/img/head.png) no-repeat;
	background-size: 100% 100%;
}
#home .desc{
	text-align: center;
	font-size: .7rem;
	color: rgb(32, 170, 118);
	margin-top: 1rem;
	line-height: 1.3rem;
}
#home #start{
	position: relative;
	left: 25%;
	background: #fff;
	display: block;
	width: 50%;
	text-align: center;
	font-size: 1.1rem;
	padding: .4rem 0;
	border-radius: 10px;
	margin-top: 1rem;
	color: rgb(1, 195, 125);
}

#page1{
	background:#23DE8D;
	height: 100%;
	overflow:hidden;
}
#page1 .head_bg{
	width: 100%;
	height: 8rem;
	background:  url(../../../assets/img/bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}
#page1 .quetions-wrap{
	width: 93%;
	margin: 0 auto;
	height: auto;
	background: #fff;
	position: relative;
	top: -1.6rem;
	z-index: 1;
	padding: 0;
	padding-bottom: 1rem;
	overflow: hidden;
}
#page1 .quetions-wrap>.quetion{
	padding: 2rem 0 0 0;
	margin:0 auto;
	height: 80%;
	width: 86%;
	overflow: hidden;
}
/* -------------------------------- */
#page1 .quetions-wrap>.quetion>li{
	display: none;
	float: left;
}
#page1 .quetions-wrap>.quetion>li>p{
	margin-bottom: .2rem;
}
#page1 .quetions-wrap>.quetion>li.active{display: block;}
#page1 .quetions-wrap>.quetion>li>ul{
	padding-left: 1rem;
	margin-bottom: .5rem;
}
#page1 .quetions-wrap>.quetion>li>ul>li{line-height: 1.6rem;}
#page1 .quetions-wrap>.quetion>li>ul>li>input{display: none;}
#page1 .quetions-wrap>.quetion>li>ul>li>label:before{
	display: inline-block;
	width: .8rem;
	height: .8rem;
	position: relative;
	left: -.5rem;
	top: .1rem;
	content: "";
	border-radius: 50%;
	border: 1px solid #ABABAB;
	box-sizing: border-box;
}
#page1 .quetions-wrap>.quetion>li>ul>li>input:checked + label:before{border: 4px solid rgb(35, 222, 141);}
/* -------------------------------- */
#page1 .btns{
	height: 20%;
	text-align: center;
}
#page1 .btns>button{
	border-radius: 3px;
	border:0;
	width: 30%;
	height: 1.6rem;
	color: #fff;
	position: relative;
	top: 20%;
	background:#ABABAB;
}
#page1 .btns>.prev{margin-right: 1rem;}
#page1 .btns>.next{margin-left: 1rem;} 
#page1 .btns>.active{background:#23DE8D;}
#page1 .submit{
	width: 93%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#page1 .submit>button{
	border: 0;
	background: #fff;
	color: #23DE8D;
	border-radius: 6px;
	box-shadow: 0 0 6px 0 rgb(15, 202, 121);
	padding: .5rem 2.2rem;
	font-weight: bold;
	display: none;
}
.resultPage .head_bg{
	width: 100%;
	height: 6.4rem;
	background:  url(../../../assets/img/result.png) no-repeat;
	background-size: 100% 100%;
}
.resultPage .result{background: url(../../../assets/img/success.png) no-repeat;}
.error .result{background: url(../../../assets/img/fail.png) no-repeat;}
.resultPage .result,
.error .result{
	width: 40%;
	margin: 6rem auto 0;
	height: 2rem;
	background-size: 100% 100%;
}
.resultPage p{
	color: #009A62;
	text-align: center;
	font-size: 1.2rem;
}
.resultPage .IKnow{
	color: #fff;
	width: 60%;
	margin: 4rem auto 0;
	display: block;
	border-radius: 6px;
	height: 2.8rem;
	border:none;
	background: #01C37D;
	font-size: 1.3rem;
}
.modal-inner{
	padding-bottom: 1rem;
	padding-top: 3rem;
	background: #fff url(../../../assets/img/dialog_bg.png) no-repeat;
	background-size: 100% auto;
}
.modal-buttons{
	height: 3rem;
	background: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	position: relative;
}
#body .modal-button{
	width: 50%;
	height: 2rem;
	color: #fff;
	background-color: #18BC7D;
	border-radius: 6px;
}
#body .modal-button.active{background-color: #969696;}
#cover{
	display: block;
	width: 50%;
	height: 2rem;
	line-height: 2.2rem;
	padding-right: 1rem;
	text-align: right;
	background-color: transparent;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 25%;
	color: #fff;
}
@media screen and (max-width: 768px){
	#body{max-width: 100%;}
}
@media screen and (max-width: 320px){
	#page1 .quetions-wrap>.quetion>li>p{margin: .5em 0;}
	#page1 .quetions-wrap>.quetion>li>ul>li{line-height: 1.4rem;}
}